.DS_Store
Herald-for-iOS.xcodeproj/project.xcworkspace/
Herald-for-iOS.xcodeproj/xcshareddata/
Herald-for-iOS.xcodeproj/xcuserdata/
herald/Herald.xcodeproj/xcshareddata/
herald/Herald.xcodeproj/xcuserdata/
git-template

